.symptom-tags {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 1px; */
}
/* 
.symptom-tags p {
     margin-right: 1px; 
} */
.tag,
.tag2 {
    padding: 6px 12px; /* Adjust as needed */
    margin: 5px; /* Adjust as needed */
    color: #fff;
    display: inline-block;
 
    text-align: center;
 
    border-radius: 8px;
    vertical-align: middle;
    align-items: center;
}


.tag {
    background-color: #5bacd8;


}
.tag3{
    background-color: #b7c6ce;
    display: inline-block;
 
    text-align: center;
 
    border-radius: 8px;
    vertical-align: middle;
    align-items: center;
}


  
.tag2 {
    background-color: #1b3f52;
 
}

.values {
    margin: 0 10px;
  }
.form-row {
    display: flex;
    /* justify-content: space-between;  */
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .mat-icon {
    vertical-align: middle;
}
