.symptom-tags {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 1px; */
}

.symptom-tags p {
    /* margin-right: 1px; */
}


.tag {
    background-color: #5bacd8;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 8px;
}

.tag2 {
    background-color: #1b3f52;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 8px;
}