<!-- Example of a child card -->
<mat-card [@hoverAnimation]="hoverState" (mouseenter)="hoverState = 'hovered'" (mouseleave)="hoverState = 'initial'"
  (click)="viewChildDetails(medicalRecord.id)">


  <mat-card-header>
    <!-- <mat-card-title> <mat-icon style="position: relative; top: 7px;color: rgb(175, 172, 172);">person</mat-icon> {{ childRecord.name }}</mat-card-title> -->
    <mat-card-subtitle>
      
      {{ childRecord.age_years|| "0" }} years, {{ childRecord.age_months || "0" }} months,{{ childRecord.age_days || "0" }} days</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>Visit Date: {{ medicalRecord.visit_date | date }}</p>
    <!-- Assuming you have a method to calculate days since the last visit -->
    <p>Days since previous visit: {{
      childRecord.days_since_last_visit }}</p>
 
  
    <!-- Add more details as needed -->

    <div class="symptom-tags">
      <ng-container *ngFor="let value of medicalRecord.analysis_names">
        <p class="tag">{{value}}</p>
      </ng-container>
    </div>
 
    <div class="symptom-tags">
      <ng-container *ngFor="let value of medicalRecord.symptoms_names">
        <p class="tag2">{{value}}</p>
      </ng-container>
    </div>

    <div class="symptom-tags">
      <ng-container *ngFor="let value of medicalRecord.diagnosis_names">
        <p class="tag">{{value}}</p>
      </ng-container>
    </div>

    <div class="symptom-tags">
      <ng-container *ngFor="let value of medicalRecord.treatment_names">
        <p class="tag2">{{value}}</p>
      </ng-container>
    </div>

    <div class="symptom-tags">
      <ng-container *ngFor="let value of medicalRecord.xrays_names">
        <p class="tag">{{value}}</p>
      </ng-container>
    </div>
    <p>Notes: {{ medicalRecord.note }}</p>
  </mat-card-content>
 
</mat-card>