<mat-card>
    <mat-card-header>

        <mat-card-title>{{ this.childRecord?.name }}</mat-card-title>
        <mat-card-subtitle>{{ this.childRecord.ageYears|| "0" }} years, {{ this.childRecord.ageMonths || "0" }} months,{{ this.childRecord.ageDays || "0" }} days</mat-card-subtitle>


    </mat-card-header>

    <mat-card-content>
        <app-custom-chip palceHolderNameStrin="Symptoms" [filteredItemsInput]="symptoms_names"
            [filterFn]="filterSymptoms" (selectedItems)="symptoms_names = $event"></app-custom-chip>
        <app-custom-chip palceHolderNameStrin="Analysis" [filteredItemsInput]="analysis_names"
            [filterFn]="filterAnalysis" (selectedItems)="analysis_names = $event"></app-custom-chip>
        <app-custom-chip palceHolderNameStrin="Xrays" [filteredItemsInput]="xrays_names" [filterFn]="filterXrays"
            (selectedItems)="xrays_names = $event"></app-custom-chip>
        <app-custom-chip palceHolderNameStrin="Diagnosis" [filteredItemsInput]="diagnosis_names"
            [filterFn]="filterDiagnosis" (selectedItems)="diagnosis_names = $event"></app-custom-chip>
        <app-custom-chip palceHolderNameStrin="Treatment" [filteredItemsInput]="treatment_names"
            [filterFn]="filterTreatment" (selectedItems)="treatment_names = $event"></app-custom-chip>
      
        <mat-form-field style="width: 100%;">
            <textarea  matInput placeholder="Notes" (keyup)="autoGrowTextZone($event)" [(ngModel)]="notes"></textarea>
        </mat-form-field>
        </mat-card-content>  
    <mat-card-actions>

        <button color="primary" mat-raised-button type="button" (click)="submitForm()">Submit</button>
    </mat-card-actions>
</mat-card>