<form [formGroup]="childInfoForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Child's Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Telephone</mat-label>
      <input matInput formControlName="telephone">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!childInfoForm.valid">Submit</button>
</form>
  