.gray-circle {
    display: inline-block;
    width: 25px; /* Adjust the size of the circle as needed */
    height: 25px; /* Adjust the size of the circle as needed */
    border-radius: 50%;
    background-color: rgb(202, 197, 197);
    text-align: center;
    line-height: 25px; /* Adjust the line height to center the text */
  }
  