<!-- Example of a child card -->
<mat-card [@hoverAnimation]="hoverState" 
(mouseenter)="hoverState = 'hovered'" (mouseleave)="hoverState = 'initial'"
(click)="viewChildDetails(child.id)" >

    <mat-card-header>
      <mat-card-title> <mat-icon style="position: relative; top: 7px;color: #FF4081;">person</mat-icon> {{ child.name }}</mat-card-title>
      <mat-card-subtitle>
        {{ child.age_years || "0" }} years
        <mat-icon style="color: #FF4081; font-size: 16px; vertical-align: middle;">event</mat-icon> 
        {{ child.age_months || "0" }} months
        <mat-icon style="color: #4CAF50; font-size: 16px; vertical-align: middle;">date_range</mat-icon> 
        {{ child.age_days || "0" }} days
        <mat-icon style="color: #2196F3; font-size: 16px; vertical-align: middle;">access_time</mat-icon> 
      </mat-card-subtitle>
      
      
          </mat-card-header>
    <mat-card-content>
      <p>
 
      <!-- Last visit: {{ child.last_visit_date | date }}  -->
   
      <button mat-button>
        {{ child.last_visit_date | date }}
        <mat-icon style="font-size: 14px; vertical-align: middle; margin-left: 4px;">event</mat-icon>
      </button>
      
      <!-- <span class="gray-circle">{{ child.days_since_last_visit }}</span> -->
      <button mat-mini-fab disabled>
        {{ child.days_since_last_visit }}
      </button>
    </p>
  
 
  
    <p>
      <mat-icon style="position: relative; top: 7px;color: #4CAF50;">cake</mat-icon> <!-- Replace with the appropriate icon for last visit -->
  {{ child.birthday | date }}
    </p>
  
    <p>
      <mat-icon style="color: #2196F3;">phone</mat-icon> <!-- Replace with the appropriate icon for telephone -->
      {{ child.telephone }}
     
    </p>

    <p> <mat-icon style="color: #FFC107;">location_on</mat-icon> <!-- Replace with the appropriate icon for address -->
     {{ child.address }}  </p>

    </mat-card-content>
  
  </mat-card>
  