<!-- Example of a child card -->
<mat-card [@hoverAnimation]="hoverState" 
(mouseenter)="hoverState = 'hovered'" (mouseleave)="hoverState = 'initial'"
(click)="viewChildDetails(child.id)" >

    <mat-card-header>
      <mat-card-title> <mat-icon style="position: relative; top: 7px;color: rgb(175, 172, 172);">person</mat-icon> {{ child.name }}</mat-card-title>
      <mat-card-subtitle>
        
        {{ child.age_years|| "0" }} years, {{ child.age_months || "0" }} months,{{ child.age_days || "0" }} days</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
 
      Last visit: {{ child.last_visit_date | date }} 
      
      <span class="gray-circle">{{ child.days_since_last_visit }}</span>
    </p>
  
 
  
    <p>
      <mat-icon style="position: relative; top: 7px;color: rgb(175, 172, 172);">cake</mat-icon> <!-- Replace with the appropriate icon for last visit -->
  {{ child.birthday | date }}
    </p>
  
    <p>
      <mat-icon>phone</mat-icon> <!-- Replace with the appropriate icon for telephone -->
      {{ child.telephone }}
     
    </p>

    <p> <mat-icon >location_on</mat-icon> <!-- Replace with the appropriate icon for address -->
     {{ child.address }}  </p>

    </mat-card-content>
  
  </mat-card>
  