<!-- <app-view-toggle [ngModel]="isCardView" (viewModeChange)="toggleView($event)"></app-view-toggle> -->
<mat-toolbar class="app-toolbar">
  <span>  <mat-icon style="color: #4CAF50;">account_circle</mat-icon>
    {{ currentChild.name }}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="editChild()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>

<div style="margin: 10px;">

  <h3>
    <mat-icon style="color: #FF4081;">location_on</mat-icon>
    {{ currentChild.address }}
  </h3>

  <p>
    <mat-icon style="position: relative; top: 3px; color: #FF4081;">event</mat-icon>
    {{ currentChild.age_years || "0" }} years,
    <mat-icon style="position: relative; top: 3px; color: #4CAF50;">date_range</mat-icon>
    {{ currentChild.age_months || "0" }} months,
    <mat-icon style="position: relative; top: 3px; color: #2196F3;">access_time</mat-icon>
    {{ currentChild.age_days || "0" }} days
  </p>
</div>

<!-- <div class="search-div" style="display: flex; align-items: center;">
    <mat-form-field  style="flex: 1;" appearance="outline">
        <mat-label>Search for a child...</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)">
        <mat-icon style=" position: relative; top: 7px;color: rgb(194, 192, 192);" matPrefix>search</mat-icon>


    </mat-form-field>
</div> -->


                          
<div   *ngIf="isCardView">
    <div *ngFor="let medicalRecord of medicalRecords">
        <div >
            <app-child-history-cards [childRecord]="currentChild" [medicalRecord]="medicalRecord"  style="margin: 5px;"></app-child-history-cards>
        </div>
    </div>
</div>


<ng-container *ngIf="!isCardView">
  <app-child-history-table [childRecord]="currentChild" [medicalRecords]="medicalRecords" (selectChild)="viewChildDetails($event)"></app-child-history-table>
</ng-container>

<button mat-fab color="primary" class="floating-button" (click)="addChildVisitHandler()">
    <mat-icon>add</mat-icon> <!-- You can change the icon as needed -->
  </button>

<mat-paginator showFirstLastButtons 
[pageSize]="pageSize" 
[pageSizeOptions]="pageSizeOptions" 
(page)="pageEvent($event)" 
[length]="totalRecords"></mat-paginator>