<!-- <app-view-toggle [ngModel]="isCardView" (viewModeChange)="toggleView($event)"></app-view-toggle> -->
<mat-toolbar class="app-toolbar">
  <div style="display: flex; align-items: center;">
    <div style="display: flex; align-items: center;">  
     <mat-icon style="position: relative;color: #bfdbf7;">person</mat-icon>
     <span>    {{ currentChild?.name }}</span>
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="editChild()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>

<div style="margin: 10px;">

  <h3>
    <mat-icon style="color: #006ba6;">location_on</mat-icon>
    {{ currentChild?.address }}
  </h3>

  <p style="display: flex; align-items: center;">
    <mat-icon style="color: #540d6e; margin-right: 5px;">event</mat-icon>
    {{ currentChild?.age_years || "0" }} Years
    <mat-icon style="color: #ee4266; margin: 0 5px;">date_range</mat-icon>
    {{ currentChild?.age_months || "0" }} Months
    <mat-icon style="color: #ffd23f; margin: 0 5px;">access_time</mat-icon>
    {{ currentChild?.age_days || "0" }} Days
  </p>
</div>

<!-- <div class="search-div" style="display: flex; align-items: center;">
    <mat-form-field  style="flex: 1;" appearance="outline">
        <mat-label>Search for a child...</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)">
        <mat-icon style=" position: relative; top: 7px;color: rgb(194, 192, 192);" matPrefix>search</mat-icon>


    </mat-form-field>
</div> -->


                          
<div   *ngIf="isCardView">
    <div *ngFor="let medicalRecord of medicalRecords">
        <div >
            <app-child-history-cards [childRecord]="currentChild" [medicalRecord]="medicalRecord"  style="margin: 5px;"></app-child-history-cards>
        </div>
    </div>
</div>


<ng-container *ngIf="!isCardView">
  <app-child-history-table [childRecord]="currentChild" [medicalRecords]="medicalRecords" (selectChild)="viewChildDetails($event)"></app-child-history-table>
</ng-container>

<button mat-fab color="primary" class="floating-button" (click)="addChildVisitHandler()">
    <mat-icon>add</mat-icon> <!-- You can change the icon as needed -->
  </button>

<mat-paginator showFirstLastButtons 
[pageSize]="pageSize" 
[pageSizeOptions]="pageSizeOptions" 
(page)="pageEvent($event)" 
[length]="totalRecords"></mat-paginator>