/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

// Dark theme

$my-dark-primary: mat.define-palette(mat.$purple-palette, 500);
$my-dark-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-dark-warn: mat.define-palette(mat.$red-palette);

$my-theme-dark: mat.define-dark-theme((
 color: (
   primary: $my-dark-primary,
   accent: $my-dark-accent,
   warn: $my-dark-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

.theme-dark{
    @include mat.all-component-themes($my-theme-dark);
}
.theme-ligth{
    @include mat.all-component-themes($my-theme);
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.tag {
    background-color: #5bacd8;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
}


.symptom-tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.symptom-tags p {
    margin-right: 5px;
}


:root {
    --card-border-color: #ccc;
    --card-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    --card-font: Open Sans, sans-serif;
    --card-padding: 16px;
}


.mat-card {
    border: 1px solid var(--card-border-color);
    border-radius: 7px;
    box-shadow: var(--card-shadow);
    font-family: var(--card-font);
    padding: var(--card-padding);
    overflow: hidden;
    /* Ensure content within the card doesn't overflow */
    cursor: pointer;
    /* Indicates the card is clickable */
    /* flex-wrap: wrap; */
    box-sizing: border-box;
}


.mat-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.30);
    transform: translateY(-5px);

}

.mat-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
}


.mat-card-title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-image {
    max-height: 200px;
    /* Adjust as needed */
    object-fit: cover;
    /* This makes the image cover the area nicely */
}



.search-div {
    display: flex;
    align-items: center;
}

/* Add your Angular Material theme if needed */
.mat-button-toggle.mat-button-toggle-checked {
    background-color: #04AA6D;
    /* Change this color to your desired selection color */
    color: white;
    /* Optional: Change text color to make it more visible */
}



/* filter controls */
.search-div {
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    /* line-height: 90px;  */
}

.search-form-field {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}



#tablestyle {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablestyle td,
#tablestyle th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablestyle tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablestyle tr:hover {
    background-color: #ddd;
}

#tablestyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}